 {
  margin: 0 auto;
  display: table;
}

#controls button {
  margin: 1%;
  max-width: 18%;
}

.bedev-imagick-share,
.btn.bedev-imagick-share,
#imagemagick-submit,
#bedev-imagemagick-loader,
#controls {
  margin: 0 auto;
  display: table;
  text-align: center;
}

#bedev-imagemagick-container .btn {
  width: auto;
  min-width: 18%;
}

#bedev-imagemagick-container .fa {
  display: table;
  margin: 0 auto;
}

.bedev-imagick-share {
  margin-top: 10px;
}